#menuNav{
	height:75px;
	background-color:white;
	top:0;
	left:0;
	width:100%;
	position:fixed;
	text-align:center;
}
#menuNav a{
	text-decoration:none;
	font-family: Georgia, Serif;
}
a:link, a:visited{
	color:#666666;
}
a:hover, a:active, a:focus{
	color:#E2001A;
}

#home{
	height:500px;
}
#empresa{
	height:500px;
	}
#contato{
	height:500px;
}
#parcerias{
	height:500px;
	}
#servicos{
	height:500px;
}
#midia{
	text-align:center;
}

.espacoDeTransicao{
	padding-top:75px;
}
.itemMenuNav{
	padding-top:40px;
	
	height:35px;
	width:80px;
	margin-right:10px;
	float:right;
}
.fundoClaro{
	background-color:#a2daf4;
	}
.fundoEscuro{
	background-color:#009ee0;
}